# IDE files
.idea

# Composer files
/vendor
/public/typo3
/public/index.php
/public/typo3conf/ext/realurl
/public/typo3conf/ext/coreapi

# Build files
node_modules

# TYPO3 files
/public/typo3temp
/public/uploads
/public/fileadmin
/public/typo3conf/l10n
/public/typo3conf/ENABLE_INSTALL_TOOL

# Environment files
/config/database.php
/config/configuration.php
